.titulo{
    color:#f72585;
    text-align: center;
}

.marco{
    /* ancho */
    width: 100%;
    /* alto */
    height: 200px;
    /* sin borde */
    /* border: none; */
    border: 1px solid #f72585;
}

.centrar{
    text-align: center;
}

.boton{
    background-color:white;
    border: 2px solid #457b9d;
    text-decoration: none;
    display: inline-block;
    padding: 10px;
}

.boton:hover{
    background-color: #457b9d;
    color:white;
}