h1{
    color: #f07167;
}

/* color del link */
a:link{
    color:#fb8500;
    /* para quitar el subrayado */
    text-decoration: none;
}
/* color del link visitado */
a:visited{
    color:#219ebc;
    text-decoration: none;
}
/* color de cuando nos ponemos encima del link */
a:hover{
    color: #8ecae6;
    text-decoration: underline;
}
/* color al hacer click sobre el elemento link */
a:active{
    color: #023047;
    text-decoration: underline;
}