h1{
    color: #1d3557;
}

ul{
    /* para no mostrar ningun icono de elemento de lista  */
    list-style-type: none;
    /* color a usar para visualizar la barra de navegacion a crear */
    background-color: #457b9d;
    /* para ver los elementos de la lista de forma independiente */
    overflow: hidden;
    /* quitamos el margen y padding para ver todo dentro de una misma linea */
    margin: 0;
    padding: 0;
}

li{
    /* para ver los elementos de forma horizontal */
    float: left;
}

/* para acceder a los elementos <a> que estan dentro de los elementos <li> */
li a{
    display: block;
    color: white;
    text-align: center;
    padding: 15px;
    text-decoration: none;
}

li a:hover{
    background-color: #1d3557;
}